<%- include('./templates/header.ejs') %>
    <%- include('./templates/nav.ejs') %>
<main>
    <h1>EDITAR PELICULA</h1>
    <section> 
        <form action="/admin/edit-movie/<%= movie.data.id %>" method="POST">
            <input type="text" id="title" name="title" value="<%= movie.data.title %>" placeholder="escribe aqui el titulo de la pelicula">
            <input type="text" id="director" name="director" value="<%= movie.data.director %>" placeholder="director de la pelicula">
            <input type="number" id="year" name="year" value=<%= movie.data.year %> placeholder="año de publicacion" >
            <input type="text" id="genre_id" name="genre_id" value=<%= movie.data.genre_id %> hidden>
            <select id="genres">
                <% if (genres.data.length> 0) { %>
                    <% genres.data.forEach( genre => { %>
                        <option value="<%= genre.id %>" <%= genre.id === movie.data.genre_id ? 'selected' : '' %>>
                            <%= genre.name %>
                        </option>
                    <% }) %>
                    <% } else { %>
                     <p>No hay generos</p>
                <% } %>
            </select>
            <input type="number" id="duration" name="duration" value=<%= movie.data.duration %> placeholder="duration" >
            <input type="submit" >
            <a href="/admin">ATRAS</a>
        </form>
    </section>
</main>
    <script>
        document.getElementById('genres').addEventListener('change', function() {
            document.getElementById('genre_id').value = this.value;
        });
    </script>
    <%- include('./templates/footer.ejs') %>

