<%- include('./templates/header.ejs') %>
    <%- include('./templates/nav.ejs') %>
<main>
    <h1>EDITAR PELICULA</h1>
    <section> 
        <form action="/admin/edit-movie/<%= movie.data.id %>" method="POST">
            <input type="text" id="title" name="title" value="<%= movie.data.title %>" placeholder="escribe aqui el titulo de la pelicula">
            <input type="text" id="director" name="director" value="<%= movie.data.director %>" placeholder="director de la pelicula">
            <input type="number" id="year" name="year" value=<%= movie.data.year %> placeholder="año de publicacion" >
            <input type="text" id="genre_id" name="genre_id" value=<%= movie.data.genre_id %> hidden>
            <input type="text" id="genre_id" name="genre_name" value=<%= movie.data.genre_name %> placeholder="genero de pelicula" disabled>
            <input type="radio" id="new_genre" name="option" checked>
            <label for="create_new_genre" >User mismo genero</label>
            <input type="radio" id="new_genre" name="option">
            <label for="create_new_genre">Crear nuevo genero</label>
            <input type="radio" id="existing_genre" name="option">
            <label for="use_existing_genre">Usar otros generos</label>
            <select id="genres" hidden>
                <option value="">Selecciona un genero</option>
                <% if (genres.data.length> 0) { %>
                    <% genres.data.forEach( genre => { %>
                        <option value=<%= genre.id %>><%=genre.name %></option>
                    <% }) %>
                    <% } else { %>
                     <p>No hay generos</p>
                <% } %>
            </select>
            <input type="number" id="duration" name="duration" value=<%= movie.data.duration %> placeholder="duration" >
            <input type="submit" >
            <a href="/admin">ATRAS</a>
        </form>
    </section>
</main>
    <%- include('./templates/footer.ejs') %>